html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #F5F5F5;
    color: #333;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}

.header {
    display: flex;
    padding: 10px;
    height: 10vh;
    background-color: #8B008B;
    align-items: center;
    justify-content: space-around;
}

.chat-box {
    display: flex;
    flex: 2 1 40vh;
    flex-direction: column;
    /*overflow-y: scroll;*/
}

.button-return {
    display: flex;
    flex-grow: 4;
    padding: 20pt;
}

.button-search {
    display: flex;
    flex-grow: 2;
    fill: white;
    height: 3vh;
}

.user-avatar {
    display: flex;
    flex-grow: 2;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-grow: 2;
    color: white;
}

.user-name {
    display: flex;
    font-size: 3vh;
    margin-bottom: 0;
}

.user-status {
    display: flex;
    font-size: 2vh;
}

.button-options {
    display: flex;
    flex-grow: 2;
    fill: white;
    height: 3vh;
}
