.chatListHeader {
  height: 12vh;
  background-color: #8B008B;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.8vh 1.5vh 0 rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}

.buttonMenu {
  display: flex;
  height: 6vh;
  width: 6vh;
  margin-left: 0.5vh;
  position: relative;
}
  
.buttonSvg {
  position: absolute;
  top: 1vh;
  left: 1vh; 
  height: 4vh;
  width: 4vh;
  fill: white;
}
  
.chatListTitle {
  display: flex;
  font-size: 5vh;
  color: white;
  flex-grow: 1;
  margin-left: 5vw;
}
  
.headerButton {
  display: flex;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #8B008B;
  transition: background-color 0.5s, border-radius 0.5s;
  height: 6vh;
  width: 6vh;
  margin: 1vh;
  position: relative;
}
  
.headerButton:hover {
  background-color: rgba(0,0,0, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

.buttonSearch {
  display: flex;
  padding: 1vh;
  height: 6vh;
  width: 6vh;
  position: relative;
}
