.formInput {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  background-color: white;
}

.inputMessage {
  border: 0;
  outline: none;
  width: calc(100vw - 11vh);
  height: 12vh;
  padding-left: 3.5vh;
  font-size: 3.5vh;
  display: flex;
  flex-direction: row;
}

:host {
  display: inline-block;
  border-top: 1px solid rgba(25, 25, 25, 0.32);
}

.attachmentButton {
  display: flex;
  width: 7vh;
  height: 7vh;
  align-content: center;
  background-color: white;
  position: relative;
}

.attachmentButtonSvg {
  position: absolute;
  top: 1.5vh;
  left: 1.5vh;
}

.button {
  display: inline-block;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.5s, border-radius 0.5s;
}
.button:hover {
  background-color: rgba(0,0,0, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
