.messageBlock {
  display: flex;
  flex-direction: column;
  animation: slidein 1s ease-out 1;
}

@keyframes slidein {
  0% {
    margin-left: 100%;
    width: 210%;
  }
  100% {
    margin-left: 0%;
    width: 100%;
  }
}

.result {
  position: relative;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  background-color: rgb(212, 197, 214);
  color: black;
  width: auto;
  height: auto;
  min-width: 40%;
  max-width: 70%;
  min-height: 3vh;
  border: 1px solid #8B008B;
  border-radius: 1vh;
  margin: 1vh 5vh 1vh 1vh;
  padding: 1vh;
}
.result:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  right: -4.2vh;
  bottom: 1vh;
  border: 2vh solid;
  border-color: transparent transparent #8B008B #8B008B;
}
.result:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  right: -3.9vh;
  bottom: 1.1vh;
  border: 2vh solid;
  border-color: transparent transparent #D4C5D6 #D4C5D6;
}

.authorName {
  display: flex;
  align-self: flex-start;
  font-size: 3vh;
  color: #8E24AA;
  font-weight: bold;
  padding: 1vh;
}

.content {
  display: flex;
  align-self: flex-start;
  font-size: 3vh;
  color: black;
  padding: 1vh 1.2vh;
  line-height: 1;
  word-break: break-all;
}

.time {
  display: flex;
  align-self: flex-end;
  font-size: 2vh;
  color: gray;
  padding: 0.5vh;
}
