.chatBox {
  display: flex;
  flex-direction: column-reverse;
  height: 76vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(237, 237, 237);
}

input[type=submit] {
  visibility: collapse;
}
